<div id="micropost" data-id="<%= @micropost.id %>">
  <p id="notice"><%= notice %></p>

  <% if @micropost.image.attached? %>
  <p>
  <strong> Image: </strong>
    <%= image_tag @micropost.image %>
  </p>
  <% end %>

  <p>
    <strong>Content:</strong>
    <%= @micropost.content %>
  </p>

  <p>
    <strong>Category:</strong>
    <% @micropost.categories.each do |category|%>
      <li><%= link_to category.name, category_path(category)%></li>
    <% end %>
  </p>
  
  <p>
    <strong>User:</strong>
    <%= @micropost.user_name %>
  </p>

  <table id="comments">
    <thead>
      <tr>
        <th>Name</th>
        <th>Comment</th>
      </tr>
    </thead>
  </table>

  </br>
  <%= render partial:'comments/form', locals: {micropost: @micropost} %>
  
  <%= link_to 'Edit', edit_micropost_path(@micropost) %> |
  <%= link_to 'Back', microposts_path %>
</div>

<script>
$(function() {
  var url = '/comments.json?micropost_id=' + $('#micropost').data('id')
  $.get(url, function(result) {
    result.forEach(function(comment) {
      var tr = $('<tr>')
      tr.html("<td>"+comment.name+"</td>" 
            + "<td>"+comment.comment+"</td>")
      $('#comments').append(tr)
    })
  })
})
</script>